body{
    background-color: rgb(228, 220, 211);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 3ex;     
}
#title{
    text-align: center;
    font-size: 20px;  
}
#img-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
        
}
#image{
   width: 100%;
   height: auto;          
} 
.img-caption{
    text-align: center;
    margin: 20px auto 10px auto;
    margin-bottom: 50px;
}
h3{
 text-align: center;
 font-size: 20px;
 margin-bottom: 30px ; 
}
#list{
   margin-left: 15%;
   margin-right: 15%;
}
#quote{
margin-left: 20%;
margin-right: 20%;
font-weight: bold;  
}
h2{
   text-align: center;
   font-size: 2.5ex;
   margin-top: 4ex;
   margin-bottom: 6ex;
}

@media(max-width:750px){
   h3{
       text-align: center;
       line-height: 5em;
   }
   #ul{
       line-height: 3ex;
   } 
}
